.imgHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}


.card1{
    padding: 0px !important;
    height: 30rem;
    
}
.cardSection2{
    padding: 0px !important;
    height: 27rem;
}
.text-center {
    height: 8rem;
}


@media screen and (min-width: 950px){
.card-body3{
    padding-top: 40px;
}
.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.inp{
    width: 40rem !important;
    height: 3rem;
/* margin-left: 20px; */
}
}
@media screen and (max-width: 950px){
.card1 {
    height: 23rem;
   

}
.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.hide{
    display: none !important;

}
.input-group{
    margin-top: 20px !important;
   
}
.desktopheaderimage{
    width: 45rem;
}
/* .inp{
margin-left: 20px;
} */

.text-center {
    height: 10rem;
}
.pp{
    margin-top: 50px !important;
}
.inp2{
    width: 40rem !important;
    height: 3rem;
    margin-left: 30px;
    
}
.get{
    margin-top: 20px;
}

}
.card-get{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    
}

.list-group-item{
    height: 45px;
}
.item-title{
    height: 75px;
}
.titP{
    padding-top: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #1eb3ec;
}

.text1{
    font-size: 23px;
    font-weight: 500;
    color: #01b2ee;
}

.btn1{
    height: 3rem;
    width: 7rem;

}
.bottomDis{
    position: absolute;
    bottom: 0px;
    width: 100%;

}
/* .bottomDis2{
    margin-top: 20rem;
} */
.test{
    height: 25rem;
}
.test1{
    height: 24rem;
}

.card-text1{
    justify-content: end;
    display: flex;
}
.old{
    text-decoration: line-through;
    
}
/* 

.card-body-te{
    padding-top: 40px;
}  */
/* .text2{
    margin-right: 20px !important;
} */

/* ////////////////////////////////////////////////// */
.tile {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
  }
  
  .image {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* background-image: url('https://cdn.pixabay.com/photo/2019/04/14/14/39/lama-4126909_960_720.jpg'); */
    background-size: cover;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(8px);
    clip-path: polygon(0 calc(100% - 100px),100% calc(100% - 100px),100% 100%,0% 100%);
    transition: all 0.5s;
  }
  
  .tile:hover .overlay {
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%); 
  }
  
  .hidden-text {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    color: white;
  }
  
  .visible-text {
    flex: 0 0 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
  }