.imgHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}


.card1{
    padding: 0px !important;
    height: 30rem;
    
}
.cardSection2{
    padding: 0px !important;
    height: 27rem;
}
.text-center {
    height: 8rem;
}


@media screen and (min-width: 950px){
.card-body3{
    padding-top: 40px;
}
.text1{
    font-size: 23px;
    font-weight: 500;
    color: #01b2ee;
}


.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.inp{
    width: 40rem !important;
    height: 3rem;
/* margin-left: 20px; */
}
}
@media screen and (max-width: 950px){


.card1 {
    height: 27rem;
}

.tt{
    font-size: 14px;
}
.text1{
    font-size: 18px;
    font-weight: 500;
    color: #01b2ee;
}
.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.hide{
    display: none !important;

}
.input-group{
    margin-top: 20px !important;
   
}
.desktopheaderimage{
    width: 22rem;
}
/* .inp{
margin-left: 20px;
} */



.text-center {
    height: 10rem;
}
.pp{
    margin-top: 50px !important;
}
/* .inp2{
    width: 40rem !important;
    height: 3rem;
    margin-left: 30px;
    
} */
.get{
    margin-top: 20px;
}

}
.card-get{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    
}

.list-group-item{
    height: 45px;
}
.item-title{
    height: 75px;
}
.titP{
    padding-top: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #1eb3ec;
}



.btn1{
    height: 3rem;
    width: 7rem;

}
.bottomDis{
    position: absolute;
    bottom: 0px;
    width: 100%;

}
/* .bottomDis2{
    margin-top: 20rem;
} */
.test{
    height: 25rem;
}
.test1{
    height: 24rem;
}

.card-text1{
    justify-content: end;
    display: flex;
}
.old{
    text-decoration: line-through;
    
}
/* 

.card-body-te{
    padding-top: 40px;
}  */
/* .text2{
    margin-right: 20px !important;
} */

/* ////////////////////////////////////////////////// */
.container1 {
    position: relative;
    width: 100%;
  }
  

  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(30, 179, 236, 0.8);;
  }
  
  .container1:hover .overlay {
    opacity: 1;
  }
  
  .textt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;}